* {
    padding: 0;
    margin: 0;
 
}

header{
    height: 12vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #2E2D6A;
    color: white;
}

aside {
    background-color: #F5F5F5;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

#logo_uvv {
    width: 80%;
}

main {
    
}

div#space {
    width: 50%;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-color: gray;
    border-radius: 20%;

}

footer{
    position: fixed;
    height: 10%;
    bottom: 0vh;
    width: 100%;
    display: flex;
    background-color:  rgb(39, 39, 74) ;
    color: aliceblue;
    }
    

